<div class="card intervention-card">
  <div class="intervention-card-essentiels">
    <div class="intervention-section intervention-card-date">
      <strong>Date de l'intervention :</strong> <%= intervention.date_intervention %>
    </div>
    <div class="intervention-section intervention-card-theme">
      <strong>Thème :</strong> <%= intervention.theme.nom %>
    </div>
    <div class="intervention-section intervention-card-statut">
      <strong>Statut :</strong> <%= intervention.statut %>
    </div>
  </div>
  <div class="intervention-section intervention-card-ecole">
    <strong>École :</strong> <%= intervention.ecole.nom %> <br>
    <%= intervention.ecole.adresse %> <br>
    <strong>Responsable :</strong> <%= intervention.ecole.responsable %> (<%= intervention.ecole.email %>) <br>
  </div>
  <div class="intervention-card-assign-container">
    <div class="intervention-section intervention-card-all-plaideurs">
      <% unless intervention.users.empty? %>
        <% intervention.users.each do |plaideur| %>
          <div class="intervention-card-plaideur">
            <strong>Plaideur :</strong> <%= "#{plaideur.prenom} #{plaideur.nom}" %>
            <% plaideurintervention_instance = PlaideurIntervention.where(intervention_id: intervention.id).where(user_id: plaideur.id).first %>
            <% if current_user.admin == true %>
              <%= link_to plaideurintervention_path(plaideurintervention_instance), :method => :delete do %>
                <i class="fas fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if current_user.admin == true %>
      <%= simple_form_for @plaideurintervention, :url => plaideurinterventions_path, :method => :post do |f| %>
        <%= f.association :user, collection: @users_list, class: "intervention-section" %>
        <%= f.input :intervention_id, :as => :hidden, :input_html => { :value => intervention.id } %>
        <%= f.button :submit,'Assigner', class: 'btn-primary'%>
      <% end %>
    <% end %>
  </div>

</div>
