<div class="container">
  <h1>Toutes les interventions</h1>
  <%= link_to "Voir toutes les interventions", interventions_path  %>
  <div class="search-form" >
    <%= form_tag interventions_path, method: :get do %>
      <input type="text" class="form-control" id="input-interventions-search" placeholder="Chercher une intervention" name="query">
    <% end %>
  </div>

  <% @interventions.each do |intervention| %>
    <%# = render "shared/intervention_card", intervention: intervention %>
    École: <%= intervention.ecole.nom %> <br>
    Date de l'intervention : <%= intervention.date_intervention %> <br>
    Thème : <%= intervention.theme.nom %> <br>
    Statut : <%= intervention.statut %> <br>
    <% unless intervention.users.empty? %>
      <% intervention.users.each do |plaideur| %>
        Plaideur : <%= "#{plaideur.prenom} #{plaideur.nom}" %> <br>
      <% end %>
    <% end %>
    <%= link_to "lien", intervention_path(intervention) %>
    <%= simple_form_for @plaideurintervention, :url => plaideurinterventions_path, :method => :post do |f| %>
      <%= f.association :user, collection: @users_list%>
      <%= f.input :intervention_id, :as => :hidden, :input_html => { :value => intervention.id } %>
      <%= f.association :intervention, collection: @interventions_list%>
      <%= f.button :submit,'Assigner', class: 'btn-primary'%>
    <% end %>
    <br>
    <br>
  <% end %>

</div>


