<div class="container">
  <h1>Ajouter une intervention</h1>

  <div id="add_intervention_form">
    <%= simple_form_for @intervention do |f| %>
      <%= f.association :ecole, input_html: {id: "input_ecole"} %>
      <div id="ecole_info">
        <div id="nom">

        </div>
      </div>
      <%= f.association :theme, collection: @theme_list %>
      <%= f.input :date_intervention, input_html: {class: "datepicker"} %>
      <%= f.association :users, include_hidden: false, input_html: { class: 'select2plaideurs' } %>
      <%= f.submit "Ajouter", class: "btn btn-primary" %>

    <% end %>
  </div>

</div>
